<div class="col-md-4">
  <a href="#" class="btn btn-success" (click)='getStart($event)' *ngIf="showBtnToStartGame && isShowBtnToStart">Start Game</a>
</div>


<div class="row" *ngIf="clickBtnStart  && isTimerTick">

  <div class="col-md-12">
       <table>
         <tr *ngFor="let rows of data" >
           <td class="cell"*ngFor="let cell of rows" >
            <div *ngIf="cell.isOpen && !cell.isHidden" [ngStyle]="{'background-image': 'url(' + cell.src + ')'}" (click)="addClassActive(cell)"  class="card"></div>
            <div *ngIf ="!cell.isOpen && !cell.isHidden" [ngStyle]="{'background-image': 'url(assets/img/game.jpg)'}" (click)="addClassActive(cell)"  [ngClass]="{hideCard: cell.isHidden}" class="card"></div>
              <!--<img [src]="cell.src" [id]="cell.id" width="100" height="100" class="cards" (click)="addClassActive(cell)">  -->
           </td>
         </tr>
       </table>
   </div>

<!--    <ul *ngFor="let data of cells">
     <li *ngFor="let cell of data">{{cell.$value}}</li>
   </ul> -->

<!--   <div>{{cells}}</div> -->
</div>

