.styleCard  .cards {
    width:100px;
    height:100px;
    border-radius: 10px;
    display: none;
}
.styleCard {
    width: 100px;
    height:100px;
    border: 2px solid green;
    border-radius: 10px;
}
/*.styleCard.hide {
  opacity: 0;
  transition: all 4s;
}*/
/*.styleCard.hide .cards {
  display: none;
}*/


.styleCard .cards.active {
    display: block;
}

table {
    position: absolute;
    left:35%;
}

.cell {
   width: 100px;
   height:100px;
   background-image: url('assets/img/game.jpg');
   -webkit-background-size: contain;
   background-size: contain;
   border-radius: 10px;
}

.cell.hide {
  opacity: 0;
  transition: all 4s;
}

