.styleCard  .cards {
    width:100px;
    height:100px;
    border-radius: 10px;
    display: none;
}
.styleCard {
    width: 100px;
    height:100px;
    border: 2px solid green;
    border-radius: 10px;
}

.cell.hideBlock {
  opacity: 0;
  transition: all 1s;
}

.cell.hide {
  opacity: 0;
  transition: all 1s;
}


.styleCard .cards.activeBlock {
    display: block;
    transition: all 1s;
}

.styleCard .cards.active {
    display: block;
    transition: all 1s;
}

table {
    position: absolute;
    left:35%;
}

.cell {
   width: 100px;
   height:100px;
   background-image: url('assets/img/game.jpg');
   -webkit-background-size: contain;
   background-size: contain;
   border-radius: 10px;
}

/*
 h1 {
     position:absolute;
     top: 100px;
     left: 0;
     text-shadow: -1px 5px 5px rgba(75, 137, 167, 0.88);
     font-size: 70px;
     color: blue;
 }*/

.winlost {
    position: absolute;
    left: 25%;
    top: 5%;
}

.heartDiv {
    display: inline;
}

/*.heartDiv div {
    position: absolute;
    top:100px;
}*/