
  <div class="col-md-4">
    <a href="#" class="btn btn-success" (click)='getStart($event)' *ngIf="showBtnToStartGame">Start Game</a>
    <a href="#" class="btn btn-success" (click)='getRestart()' *ngIf="isWin && !isLost">New Game</a>
    <!--<h1 *ngIf="!isTimerTick && clickBtnStart">Timer Over</h1>-->
  </div>


<div class="row" *ngIf="clickBtnStart  && isTimerTick">

  <div class="col-md-12">
       <table>
         <tr *ngFor="let rows of data" >
           <td class="cell"*ngFor="let cell of rows" >
             <div class="styleCard" (click)="addClassActive($event)">
               <img [src]="cell.src" [name]="cell.id" width="100" height="100" class="cards">
             </div>
           </td>
         </tr>
       </table>
   </div>

</div>