<a href="#" class="btn btn-success" (click)='getStart()' *ngIf="show">Start Game</a>

<div class="row" *ngIf="click">

  <div class="col-md-12">
       <table>
         <tr *ngFor="let rows of data" >
           <td class="cell"*ngFor="let cell of rows" >
             <div class="styleCard" (click)="addClassActive($event)">
               <img [src]="cell.src" [name]="cell.id" width="100" height="100" class="cards">
             </div>
           </td>
         </tr>
       </table>
   </div>

</div>