<div class="container" (isShow)=isAlive($event)> 
  <h1 style="color:blue">Game and relax</h1>
  <h2 style="color:blue">You can look at my code-cat <a href="https://github.com/KashaevaD/game-card">here</a></h2>
  <div class="row" *ngIf="!isRegistrate">

    <div class="form-group has-success" *ngIf="newUser" style="width:40%">
      <label class="control-label" for="nonuser" style="font-size: 17px">Regestration:</label>
      <input type="text" class="form-control" id="nonuser" placeholder="Enter your name" #newuser />
       <br>
      <a href="#" class="btn btn-success" (click)="addUser(newuser.value)">Sign in</a>
    </div>

    <!--<ul>
        <li *ngFor="let item of users | async">
          {{ item.name }}
        </li>
    </ul>-->

     <div class="form-group has-success" *ngIf="!newUser" style="width:40%">
      <label class="control-label" for="user" style="font-size: 17px">Write name to sign in:</label>
      <input type="text" class="form-control" id="user" placeholder="Enter your name" #e />
      <br>
      <a href="#" class="btn btn-success" (click)="check(e.value)">Check name</a>
    </div>

  </div>

<!-------------------------------------------------------------------->

  <div class="row"  *ngIf="isRegistrate">

    <div class="col-md-4" *ngIf="!isStart ">
        <h1>Click to start the game</h1>
    </div>
    <div class="col-md-4" *ngIf="!isStart">
      <div id="start">
      <img [src]="imgStart" (click)="isVisibleAllGame()" alt="Start Game" title="Start Game" >
      </div>
    </div>
     <div class="col-md-4">
       <h1 *ngIf="isStart && !isVerifiedSettings">Game Settings</h1>
       <h1 *ngIf="isVerifiedSettings">My darling player {{userName}}!!</h1>
     </div>

  </div>
<!-------------------------------------------------------------->
   <div class="row" *ngIf='!isVerifiedSettings && isStart'>
      <div class="col-md-6" >
        <div class="form-group has-success">

          <!--Choose the level-->
          <label for="select" class="control-label">Select level</label>
            <select class="form-control" id="select" [(ngModel)]="level">
              <option value="1" >Simple</option>
              <option value="2" >Hard</option>
            </select>
          <br>
          <!--Choose the dimension-->
          <label for="select" class="control-label">Select dimension</label>
          <select class="form-control" id="select" [(ngModel)]="size">
              <!--<option value="2" >2x2</option>-->
              <option value="4" >4x4</option>
              <option value="6" >6x6</option>
              <option value="8" >8x8</option>
          </select>
          <br>
          <a href="#" class="btn btn-success" (click)='getSize(size, level)' *ngIf='!isVerifiedSettings'>Click on me</a>
        </div>
      </div>

   </div>
   <!--!------------------------------------------------------------>
  <div class="row">
      <div class="col-md-6">
        <!--Timer-->
        <app-timer [time]=" getTime()" *ngIf="isTimerTick()"></app-timer> 
      </div>
      <div class="col-md-6">
        <!--Lives-->
        <app-lives [save]="saveLive" [time]="getTime()" (isLived)=isAlive($event) *ngIf='isVerifiedSettings'></app-lives>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
          <!--Table with cards-->
          <app-cards [size]="size" [level]="level" [showBtnToStartGame]='isVerifiedSettings' [isTimerTick]="isTimerTick()" [isLive]="isLive" [isShowBtnToStart]='isShowBtnToStart'
          (checkTimer)=isWork($event) (isShowTimer)=isStartTimer($event) (showImageWin)=setWin($event) (newLevel)="isResetNewLevel($event)"></app-cards>
      </div>

      <div class="col-md-12">
          <!--Show gif when you win or loose-->
          <app-win-or-lost [time]="getTime()" [isWin]="isWin" [isLive]="isLive" > </app-win-or-lost>
      </div>
   </div>
    
</div>